.month {
    display: grid;
    gap: 5px;
}

.week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    column-gap: 20px;
}

.day {
    text-align: center;
    height: 24px;
    width: 24px;
    cursor: default;
}

.highlighted {
    background-color: #2ae066;
    border-radius: 50%;
}