@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0 , 0;
  --background-start-rgb: 230, 230, 230;
  --background-end-rgb: 220, 220, 220;
  --background-mid-rgb: 219, 236, 242;
  --h1-font-size: 1.75rem;
  --h2-font-size: 1.55rem;
  --h3-font-size: 1.45rem;
  --theme-light-blue: 219, 236, 242;
  --theme-light-purple: 219, 219, 242;
  --h1-margin-bottom: 1.5em;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(180deg, var(--background-start-rgb) 0%, var(--background-end-rgb) 100%);
}

body::before {
  content: '';
  background: radial-gradient(circle, rgba(var(--theme-light-blue), 1) 0%, rgba(var(--theme-light-purple), 0.8) 60%,  rgba(var(--background-end-rgb), 0) 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: var(--h1-font-size);
  margin-bottom: var(--h1-margin-bottom);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

button.button-text {
  color: rgb(37, 37, 37);
}

button.button-primary {
  background: rgb(255, 255, 255);
  color: rgb(7, 7, 7);
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-weight: 700;
}

dialog::backdrop {
  background-color: darkorange;
}

input {
  padding: 0.5em;
  border-radius: 0.5em;
  border: 1px solid rgb(200, 200, 200);
}

input:focus {
  outline: none;
  border-color: rgb(0, 0, 0);
}

select {
  padding: 0.5em;
  border-radius: 0.5em;
  border: 1px solid rgb(200, 200, 200);
}

select:focus {
  outline: none;
  border-color: rgb(0, 0, 0);
}